.App {
  margin: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.flex-row-condensed {
  display: flex;
  flex-direction: row;
  width: 7rem;
}

.centered {
  justify-content: center;
  align-items: center;
}

.bottom-center {
  justify-content: center;
  align-items: flex-end;
}

.med-border-bottom {
  border-bottom: solid black 1px;
  padding: 0.5rem 0rem;
  margin-bottom: 0.5rem;
}

.med-border {
  border: solid black 1px;
  padding-bottom: 0.5rem;
}

.med-border-right {
  border-right: solid black 1px;
}

.med-border-top-bottom-left {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  padding: 0.5rem 0rem;
}

.xs-padding {
  padding: 0.1rem 0rem;
}

.med-padding {
  padding: 0.5rem;
}

.xlg-padding-left {
  padding-left: 2rem;
}

.flex-row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.no-padding-left-right {
  padding-left: 0rem;
  padding-right: 0rem;
}

.sm-gap {
  gap: 0.5rem;
}

.no-border {
  border: none;
}

.active-sort {
  background-color: lightgreen;
  border-radius: 0.5rem;
}

.inactive-sort {
  background-color: white;
}

.inactive-sort:hover {
  background-color:lightcoral;
  cursor: pointer;
  border-radius: 0.5rem;
}

.flex-left-bold {
  display: flex;
  justify-content: left;
  font-weight: bold;
  margin-bottom: 0rem;
  white-space: nowrap;
}

.wrap {
  flex-wrap: wrap
}

.title {
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
  align-self: flex-start;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.sm-border-radius {
  border-radius: 0.5rem;
}

.xlg-padding {
  padding: 2rem;
}

.bold-red-text {
  font-weight: bold;
  color: red;
  font-style: italic;
}